header{
    display: flex;
    padding: 0 5 %;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}
header .logo a{
    font-size: 25 px;
    color: greenyellow;
    text-decoration: 0;
}
header .logo a span{
    color: white;
}
.menu{
   align-items: center;
    display: flex;
}
.menu li{
   margin: 0 15 px;
   list-style-type: none;
    transition: 0.5 s;
}
.menu li a{
     text-decoration: 0;
    color: white;
    font-size: 16 px;
 }

.menu li:hover{
    transform: translateY (-10 px);
}
.fin-menu{
    color: greenyellow;
    text-decoration: 0;
    font-size: 16 px;
}
