header{
    display: flex;
    padding: 0 5%;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}
header .logo a{
    font-size: 25px;
    color: greenyellow;
    text-decoration: 0;
}
header .logo a span{
    color: white;
}
.menu{
    align-items: center;
    display: flex;
}
.menu li{
    margin: 0 15px;
    list-style-type: none;
    transition: 0.5s;
}
.menu li a{
    text-decoration: 0;
    color: white;
    font-size: 16px;
 }

.menu li:hover{
    transform:translateY(-10px);
}
.fin-menu{
    color: greenyellow;
    text-decoration: 0;
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.bloc{
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*bloc*/
.introduction{
    background-color: #e3f2fd;
}

.projets{
    background-color: #fff3e0;
}
